/* animation de la nav du haut */
.animationNav {
    animation: anim-nav 0.25s both;
;}

@keyframes anim-nav {
  0% {transform: translateX(1000px);}
  100% {
      transform: translateX(0);
  }
}
.animationNav:nth-of-type(1) {
    animation-delay: .2s;
  }
.animationNav:nth-of-type(2) {
      animation-delay: .4s;
  }

  /* animation des icônes du header */
.animationIcone {
    animation: anim-icone 0.25s both;
;}

@keyframes anim-icone {
  0% {transform: scale(0);}
  50% {
      transform: scale(170%)
  }
  100% {
      transform: scale(100%);
  }
}
.animationIcone:nth-of-type(1) {
    animation-delay: 1.2s;
  }
.animationIcone:nth-of-type(2) {
      animation-delay: 1.4s;
  }

/* animation du menu de bas */
.animationMenu {
      animation: anim-menu 0.25s both;
;}

@keyframes anim-menu {
    0% {transform: translateX(-1000px);}
    100% {
        transform: translateX(0);
    }
}


.animationMenu:nth-of-type(1) {
  animation-delay: .6s;
}
.animationMenu:nth-of-type(2) {
    animation-delay: .8s;
}
.animationMenu:nth-of-type(3) {
    animation-delay: 1s;
}