@charset "UTF-8";
/* ---------------------------------------
variable
------------------------------------------ */
/* ---------------------------------------
mixins
------------------------------------------ */
/* ---------------------------------------
mixins
------------------------------------------ */
/* animation de la nav du haut */
.animationNav {
  -webkit-animation: anim-nav 0.25s both;
          animation: anim-nav 0.25s both;
}

@-webkit-keyframes anim-nav {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-nav {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animationNav:nth-of-type(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.animationNav:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

/* animation des icônes du header */
.animationIcone {
  -webkit-animation: anim-icone 0.25s both;
          animation: anim-icone 0.25s both;
}

@-webkit-keyframes anim-icone {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(170%);
            transform: scale(170%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes anim-icone {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(170%);
            transform: scale(170%);
  }
  100% {
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

.animationIcone:nth-of-type(1) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.animationIcone:nth-of-type(2) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

/* animation du menu de bas */
.animationMenu {
  -webkit-animation: anim-menu 0.25s both;
          animation: anim-menu 0.25s both;
}

@-webkit-keyframes anim-menu {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes anim-menu {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animationMenu:nth-of-type(1) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.animationMenu:nth-of-type(2) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.animationMenu:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* ---------------------------------------
layout
------------------------------------------ */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #fff;
}

body::after {
  content: "";
  -webkit-clip-path: polygon(0 0, 30% 0, 70% 100%, 0 100%);
          clip-path: polygon(0 0, 30% 0, 70% 100%, 0 100%);
  background-color: #181a1d;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .8rem;
}

h6 {
  font-size: .7rem;
}

p {
  font-size: .6rem;
}

.bloc {
  border: 2px solid #343434;
  background-color: gray;
  color: white;
  font-size: 3rem;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bloc img {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin-right: 15px;
}

.grille {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-gap: 5px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: "nav nav nav" "entete entete entete" "menu menu menu" "fenetre1 fenetre1 fenetre1" "fenetre2 fenetre2 fenetre2" "section section section" "pied-page pied-page pied-page";
}

@media (min-width: 1000px) {
  .grille {
        grid-template-areas: "nav nav nav" "entete entete entete" "menu menu menu" "section section fenetre1" "section section fenetre2" "pied-page pied-page pied-page";
  }
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: nav;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.nav h4 {
  list-style: none;
  margin-right: 15px;
  font-size: 20px;
}

.entete {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: entete;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entete section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.entete section div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: menu;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.menu h4 {
  list-style: none;
  margin-left: 15px;
  font-size: 20px;
}

section {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: section;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section div {
  width: 100%;
}

.fenetre1 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fenetre1;
}

.fenetre2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: fenetre2;
}

.pied-page {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pied-page;
}
/*# sourceMappingURL=style.css.map */